@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scrollbar-width: none; /* firefox */
    -ms-overflow-style: none; /* IE 10+ */
    &::-webkit-scrollbar {
        display: none; /* Chrome Safari */
    }
}

body {
    background-color: var(--el-bg-color);
    position: relative;
    overflow: auto;
    scrollbar-width: none; /* firefox */
    -ms-overflow-style: none; /* IE 10+ */
    &::-webkit-scrollbar {
        display: none; /* Chrome Safari */
    }
}

body,html,#app{
    @apply w-full h-full;
}

body{
    @apply text-sm;
}

img {
    display: inline;
}